<footer class="container">
    <div class="row mt-3 mb-3">
        <div class="col-sm-6 text-center col-12 text-sm-left">
            Svetainė priklauso komandai <a href="https://github.com/nfqakademija/lita">©LITA</a>
        </div>
        <div class="col-sm-6 text-center col-12 text-sm-right">
            Dizaino paveikslėliai priklauso <a href="http://www.freepik.com">Freepik</a>
        </div>
    </div>
</footer>
