<footer class="container">
    <div class="row mt-3 mb-3">
        <div class="col-sm-6 text-left">
            Created by team <a href="gito linkas">LITA</a>
        </div>
        <div class="col-sm-6 text-right">
            Designed and built with all the love in the world by the <a href="http://www.freepik.com">Freepik</a>
        </div>
    </div>
</footer>
