{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <main class="bg-white">
        <div class="container">


            <a href="{{ path('connect_google_start') }}">
                Google
            </a>


            <div class="row align-items-center mx-auto h-100 mb-5">
                <div class="col-lg-7 col-md-7 col-sm-12 my-auto text-center">
                    <div>
                        <div class="w-100 my-4">
                            <h1 class="title my-lg-4 my-md-3">
                                Lietuvos <br> IT Akademijos
                            </h1>
                            <hr class="brace">
                            <h2 class="subtitle">Lietuvos IT Akademijų reitinguotas sąrašas</h2>
                            <p class="subtitle">Rask labiausiai Tau tinkamą IT akademiją!</p>
                        </div>
                        <div class="w-100 mt-5">
                            <a class="btn btn-primary mr-lg-3" href="#root">
                                Ieškoti
                            </a>
                            <a class="btn btn-primary mr-lg-3" href="{{ path('about') }}">
                                Apie
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-5 col-sm-12 my-auto">
                    <img src="{{asset('build/images/main_bg.png')}}" class="img-fluid" alt="IT academies">
                </div>
            </div>
        </div>
        <section class="bg-light">
            <div id="root"></div>
        </section>
    </main>
{% endblock %}
