{% block body %}
    <div class="Filter">
        <h3 class="Title-name">Filtras</h3>
        <form class="Filter-content" action="/program/filter">
            <select class="col-md-4 Select" name="type">
                <option value="">Select Academy program</option>
                <option {{ app.request.query.get('program_name') == 'front-end' ? 'selected' : '' }} value="front-end">Front-End</option>
                <option {{ app.request.query.get('program_name') == 'back-end' ? 'selected' : '' }} value="back-end">Back-End</option>
                <option {{ app.request.query.get('program_name') == 'testavimas' ? 'selected' : '' }} value="testavimas">Testavimas</option>
            </select>
            <div class="col-md-12 Filter-action">
                <button type="submit" class="Button Button--primary">Filtruoti</button>
            </div>
        </form>
    </div>
    <div class="Table">
        <table class="Table-content col-md-12">
            <thead>
            <tr class="Table-header">
                <th class="Table-column">Program Name</th>
                <th class="Table-column"></th>
            </tr>
            </thead>
            <tbody>
            {% for program in programs %}
                <tr class="Table-row">
                    <td class="Table-data">{{ program.getProgramName }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
{% endblock %}
