@import "../../../css/app";

.price {
  font-weight: bolder;
}

.logo {
  max-width: 100%;
  max-height: 100px;
  object-fit: contain;
}

.cardWrapper {
  min-width: 300px;
}

.card-right {
  background-color: $bg_dark_grey;
}

.academy-card {
  &--shadow {
    box-shadow:
      6px 6px 0 0 #ddd,
      12px 12px 0 0 #ccc;
  }

  &__header {
    color: inherit;
  }
}
