@import url('https://fonts.googleapis.com/css?family=Noto+Serif:700|Questrial&display=swap');

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import '~font-awesome/scss/font-awesome';

@import "variables";

body {
  background-color: $white;
  font-family: $secondary-font;
}

.header-container {
  max-width: 1350px;
}

.nav-item {
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.6;
  letter-spacing: .03rem;
}

.nav-item.active {
  padding-bottom: 2px;
  color: rgb(85, 85, 85);
  border-bottom: 4px solid rgb(14, 30, 37);
}

.bg-about {
  background-color: $bg_about;
}

.title {
  color: $dark-blue;
  display: block;
  font-family: $primary-font;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0;
  font-size: 3.9em;
  font-weight: bold;
}

.subtitle {
  color: $dark-blue;
  display: block;
  font-family: $secondary-font;
  line-height: 0.8;
  letter-spacing: 0;
  font-size: 1.9em;
}

.content {
  font-size: 1.4em;
}

@media (max-width: 1200px) {
  .title {
    font-size: 3em;
  }
  .subtitle {
    font-size: 1.1em;
  }
  .content {
    font-size: 1.2em;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 2.5em;
  }
  .subtitle {
    font-size: 1.5em;
  }
}

.btn-blue {
  color: $white;
  background-color: $primary-button-color;
  border-color: $primary-button-color;
  font-family: 'Oswald', sans-serif;
  font-size: 1.125rem;

  &:hover {
    color: $white;
    background-color: $dark-blue;
    box-shadow: 0 8px 32px $shadow-color;
  }
}

.brace {
  width: auto;
  min-width: 35px;
  padding-bottom: 20px;
  font-size: 2em;
  line-height: 2em;
  position: relative;
  text-align: center;
  vertical-align: middle;
  margin: 0 15px 15px;
  border: none;
  background-color: transparent;
  background-image:
          radial-gradient(circle at 0 0, rgba($dark-blue,0) 14.5px, $dark-blue 15.5px, $dark-blue 19.5px, rgba($dark-blue,0) 20.5px),
          radial-gradient(circle at 35px 0, rgba($dark-blue,0) 14.5px, $dark-blue 15.5px, $dark-blue 19.5px, rgba($dark-blue,0) 20.5px);
  background-size: 35px 20px;
  background-position: center bottom;
  background-repeat: no-repeat;
  text-transform: lowercase;
  font-style: italic;
  color: $dark-blue;
  filter: drop-shadow(0 1px 1px rgba(black,.15));
  overflow: visible;

  &:before {
    width: 50%;
    border-top: 5px solid $dark-blue;
    border-left: 1px solid transparent; /* play with this until you like the look of it */
    border-top-left-radius: 20% 30px;
    height: 100%;
    content: "";
    position: absolute; top: 20px; left: -15px;
    box-sizing: border-box;
    margin-top: -5px;
  }

  &:after {
    width: 50%;
    border-top: 5px solid $dark-blue;
    border-right: 1px solid transparent; /* play with this until you like the look of it */
    border-top-right-radius: 20% 30px;
    height: 100%;
    content: "";
    position: absolute; top: 20px; right: -15px;
    box-sizing: border-box;
    margin-top: -5px;
  }
}