// customize some variables
$bg_dark_grey: #eae8ea;
$bg_grey: #f9f9f7;
$bg_about: #dee3ec;
$primary-font: 'Noto Serif', serif;
$secondary-font: 'Questrial', sans-serif;
$dark-blue: #2a3365;
$primary-button-color: #2929b5;
$white: #ffffff;
$black: #000000;
$shadow-color: #def7fe;
