// customize some variables
$primary-font: 'Noto Serif', serif;
$secondary-font: 'Raleway', sans-serif;
$bg_dark_grey: #eae8ea;
$bg_grey: #f9f9f7;
$bg_light_grey: #f0f0f0;
$bg_about: #dee3ec;
$dark-blue: #2a3365;
$primary-button-color: #2929b5;
$white: #ffffff;
$black: #000000;
$shadow-color: #def7fe;
$shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
