@import "../../../css/variables";

.filter-label {
  font-size: 1.3rem;
  align-self: center;
}

.filter-toggle {
  color: $white;
  background-color: $dark-blue;
  border-color: $dark-blue;
  min-width: 160px;
  width: 100%;

    &:hover {
      color: $white;
    }
}

.filter-item {
    &:hover {
      background-color: $bg_dark_grey;
    }
}
