{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <main class="bg-white">
        <section class="bg-about h-100">
            <div class="container">
                <div class="row align-items-center mx-auto h-100">
                    <div class="col-lg-6 col-md-6 col-sm-12 my-auto text-center">
                        <div>
                            <div class="w-100 my-5">
                                <h1 class="title my-lg-4 my-md-3">
                                    LITA projektas
                                </h1>
                                <hr class="brace">
                                <p class="subtitle">šis projektas sukurtas mokymosi tikslais</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 my-auto">
                        <img src="{{asset('build/images/about.jpg')}}" class="img-fluid" alt="About project">
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
